.header {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 5px;
    border-bottom: 2px solid;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: xx-large;
    padding: 5px 10px;

    .logo {
        flex-basis: 75%;
    }
}